body {
    width: 980px;
    font-family: 'Courgette', cursive;
    background-color: orangered;
}
.container {
    background-color: orange;
}

h1{
    height: 50px;
    font-family: 'Lobster Two', cursive;
    background-color: #dc3545;
}
#trivia {
    width: 700px;
    background: orchid;
    margin-right: 100px;
}
p {
font-display: initial;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: #6610f2;
}
#button {
    background: #dc3545;
    border: 1px solid red;
    padding: 10px;
    transition-duration: initial;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    
}
#button:hover {
    background: #6610f2;
    border: 1px solid black;
    cursor: pointer;
}
#mqc {
    color: #dc3545;
}

.time-container{
font-size: 35px;

}
footer {
    clear: both;
    width: 980px;
    position: fixed;
}
 